{# Ajout de liens vers les fiches des habitats dans le tableau de bord de l'utilisateurs #}

{# Récupération du dashboard pour les liens #}
{% set dynamicPath = field.getCustomOption('dashboard') %}

{# Si la valeur du champ est un tableau, on affiche un lien pour chaque habitat #}
{% if field.value is iterable %}
<pre>
    {{ dump(field.value) }}
</pre>
    {% for habitat in field.value %}
        <a href=""{{ path(dynamicPath, {
            crudAction: 'detail',
            crudControllerFqcn: 'App\\Controller\\Admin\\Crud\\HabitatsCrudController',        
            entityId: habitat.id
        }) }}">
            {{ habitat.nom }} 
    {% endfor %}

{# Sinon, on affiche un lien pour l'habitat #}
{% else %}
    <a href="{{ path(dynamicPath, {
        crudAction: 'detail',
        crudControllerFqcn: 'App\\Controller\\Admin\\Crud\\HabitatsCrudController',        
        entityId: field.value.id
    }) }}">
        {{ field.value.nom }} 
    </a><br>
{% endif %}
    