{# {% for rapport in field.value %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Rapport du Vétérinaire : {{ rapport.veterinaire.prenom }} {{ rapport.veterinaire.nom }}</h5>
            <p class="card-text">
                <strong>État :</strong> {{ rapport.etat }}<br>
                <strong>Nourriture :</strong> {{ rapport.nourriture }}<br>
                <strong>Grammage :</strong> {{ rapport.grammage }} g<br>
                <strong>Détails :</strong> {{ rapport.detail }}
            </p>
        </div>
    </div>
{% endfor %} #}

        <ul>
            {% set latestAvisHabitat = null %}
            {% for rapport in field.value %}
                {% if latestAvisHabitat is null or rapport.date > latestAvisHabitat.date %}
                    {% set latestAvisHabitat = rapport %}
                {% endif %}
            {% endfor %}

            {% if latestAvisHabitat %}
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Dernier avis du Vétérinaire : {{ latestAvisHabitat.veterinaire.prenom }} {{ latestAvisHabitat.veterinaire.nom }}</h5>
                        <p class="card-text">
                            <strong>Date :</strong> {{ latestAvisHabitat.date ? latestAvisHabitat.date|date('d/m/Y H:i') : '' }}<br>
                            <strong>Avis :</strong> {{ latestAvisHabitat.avis }}<br> 
                        </p>
                    </div>
                </div>
            {% else %}
                <p>Aucun rapport vétérinaire disponible.</p>
            {% endif %}
        </ul>