{# {% for rapport in field.value %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Rapport du Vétérinaire : {{ rapport.veterinaire.prenom }} {{ rapport.veterinaire.nom }}</h5>
            <p class="card-text">
                <strong>État :</strong> {{ rapport.etat }}<br>
                <strong>Nourriture :</strong> {{ rapport.nourriture }}<br>
                <strong>Grammage :</strong> {{ rapport.grammage }} g<br>
                <strong>Détails :</strong> {{ rapport.detail }}
            </p>
        </div>
    </div>
{% endfor %} #}

        <ul>
            {% set latestRapport = null %}
            {% for rapport in field.value %}
                {% if latestRapport is null or rapport.date > latestRapport.date %}
                    {% set latestRapport = rapport %}
                {% endif %}
            {% endfor %}

            {% if latestRapport %}
                <h4>Dernier Rapport Vétérinaire pour {{ latestRapport.animal }}</h4>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Rapport du Vétérinaire : {{ latestRapport.veterinaire.prenom }} {{ latestRapport.veterinaire.nom }}</h5>
                        <p class="card-text">
                            <strong>Date :</strong> {{ latestRapport.date ? latestRapport.date|date('d/m/Y H:i') : '' }}<br>
                            <strong>État :</strong> {{ latestRapport.etat }}<br>
                            <strong>Nourriture :</strong> {{ latestRapport.nourriture }}<br>
                            <strong>Grammage :</strong> {{ latestRapport.grammage }} g<br>
                            <strong>Détails :</strong> {{ latestRapport.detail }}
                        </p>
                    </div>
                </div>
            {% else %}
                <p>Aucun rapport vétérinaire disponible.</p>
            {% endif %}
        </ul>