{% extends 'base.html.twig' %}

{% block title %}
    Hello ServicesController!
{% endblock %}

{% block body %}
<div class="container-fluid">
<div class="row justify-content-center align-items-center">

        <div class="col-8 mb-5">
            <h1 class="text-center mt-5 mb-5">
                Services du zoo
            </h1>
            <p>
                De nombreux services sont proposés par le zoo Arcadia pour le bien-être des visiteurs.
                Profitez de votre visite pour découvrir les services proposés par le zoo.
            </p>
        </div>
        <div
            class="col-12 mt-5 mb-5">
            {# Affichage des sélectionné #}
            {% for ServiceId, service in servicesTables %}
                <section id="{{ ServiceId }}" class="service_section">
                    <div class="container">
                        <h1>
                            {{ service.nom }}
                        </h1>
                    </div>
                    <div class="container mt-5 mb-5">
                        <p>
                            <strong>
                                Description :
                            </strong>
                            {{ service.description }}
                        </p>
                    </div>
                    {# Photos suplémentaire de du service #}
                    <div id="carousel-{{ ServiceId }}" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            {% for image in service.images %}
                                <div class="carousel-item {% if loop.first %}active{% endif %}">
                                    <img src="{{ asset(image) }}" class="d-block w-100" alt="Photo de l'service">
                                </div>
                            {% endfor %}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carousel-{{ ServiceId }}" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">
                                Précédente
                            </span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carousel-{{ ServiceId }}" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">
                                Suivante
                            </span>
                        </button>
                    </div>
                </section>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
