{% extends 'base.html.twig' %}

{% block title %}Nous Contacter{% endblock %}

{% block body %}
    <div class="container contact pb-4">
        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-md-8">
                <h1 class="text-center">
                    Contactez-nous
                </h1>
                <h4 class="pt-4 pb-5">
                    Vous avez une question, une suggestion ou une demande particulière ?
                </h4>
                <p class="p-3">
                    N'hésitez pas à nous contacter en remplissant le formulaire ci-dessous.
                </p>
                <p class="p-3 pb-5">  
                    A la récéption de votre message, nous vous répondrons dans les plus brefs délais.
                </p>

                {% for label, messages in app.flashes %}
                    <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}

                {{ form_start(form) }}
                <div class="mb-5">
                    {{ form_label(form.title) }}
                    {{ form_widget(form.title, {'attr': {'class': 'form-control'}}
                    ) }}
                    {{ form_errors(form.title) }}
                </div>
                <div class="mb-5">
                    {{ form_label(form.email) }}
                    {{ form_widget(form.email, {'attr': {'class': 'form-control'}}
                    ) }}
                    {{ form_errors(form.email) }}
                </div>
                <div class="mb-5">
                    {{ form_label(form.description, 'Expliquer nous') }}
                    {{ form_widget(form.description, {'attr': {'class': 'form-control'}}
                    ) }}
                    {{ form_errors(form.description) }}
                </div>
                
                <button type="submit" class="btn btn-primary">
                    Envoyer
                </button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}
